<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <script src="{{ "/assets/js/parallax.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
    <script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}" charset="utf-8"></script>

    <!-- Thanks to Thomas de Cicco (http://thomasdecicco.me) and Christophe Massolin (http://www.christophemassolin.com/) -->
    <!-- Backgound image come from http://unsplash.com -->
  </body>

</html>
